@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap);
body {
  margin: 0;
  background-color: #F6F6F6;
}

h1, h2, h3, p {
  margin: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

p, a {
  font-family: "Roboto", sans-serif;
}

@media (min-width: 1440px) {
  section {
    max-width: 1080px;
    margin: auto;
  }
}
.loader {
  position: fixed;
  display: grid;
  inset: 0;
  z-index: 20;
  animation: start 300ms forwards 2s;
  transform-origin: center;
}
.loader__background--glass {
  height: 100vh;
  width: 100vw;
  display: flex;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.loader__circle {
  margin: auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  animation: circle 2s linear infinite;
}
.loader__circle:before, .loader__circle:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 7px solid transparent;
}
.loader__circle:before {
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  border-top-color: #99e2d0;
  animation: circle 1.5s linear 4.5s infinite;
}
.loader__circle:after {
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  border-top-color: #008766;
  animation: circle 1.5s linear infinite;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes start {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    display: none;
  }
}
.header {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}
.header__logo {
  display: flex;
  justify-content: center;
  padding: 13px 0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  position: relative;
  z-index: 2;
}
.header__localisation {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  z-index: 1;
  padding: 15px 0;
}
.header__localisation__value {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 17px;
       column-gap: 17px;
}
.header__localisation__value p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

main {
  margin-top: 121px;
}

.hero {
  padding: 50px 20px;
  text-align: center;
}
.hero > * {
  margin-bottom: 25px;
}
.hero__title {
  margin-bottom: 26px;
}
@media (min-width: 1440px) {
  .hero__title {
    font-size: 40px;
  }
}
.hero__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #353535;
  line-height: 21px;
}
.hero__link {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
  padding: 13px 19px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 25px;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  transition: 0.2s ease-in-out;
  opacity: 100%;
}
.hero__link:hover {
  opacity: 85%;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2509803922);
}

.working {
  padding: 50px 20px;
  background-color: #FFF;
}
.working__section__title {
  margin-bottom: 26px;
}
@media (min-width: 1024px) {
  .working__section__title {
    grid-area: A;
  }
}
.working__section__cards {
  display: flex;
  flex-direction: row;
  background-color: #F6F6F6;
  margin-bottom: 25px;
  padding: 28px 38px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px;
  position: relative;
  z-index: 1;
}
.working__section__cards__number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  border-radius: 100%;
  position: absolute;
  left: -12px;
  top: calc(50% - 12px);
}
.working__section__cards__number p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #FFF;
}
.working__section__cards__content {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 27px;
       column-gap: 27px;
}
.working__section__cards__content__title {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 340px) {
  .working__section__cards__content__title {
    font-size: 14px;
  }
}
@media (min-width: 1024px) {
  .working__section {
    display: grid;
    grid-template-areas: "A A A" "B B B";
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}

.working i {
  color: #7E7E7E;
}

.working i.purple {
  color: #9356DC;
}

.new {
  position: relative;
}

.new::after {
  content: "Nouveau";
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #008766;
  background-color: #99e2d0;
  padding: 7px 9px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
}

.restaurant {
  padding: 50px 17px;
}
.restaurant__title {
  margin-bottom: 26px;
}
@media (min-width: 1024px) {
  .restaurant__title {
    grid-area: A;
  }
}
.restaurant__cards {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}
.restaurant__cards__content {
  background-color: #FFF;
  border-radius: 15px;
  text-decoration: none;
  width: 100%;
  height: 252px;
  position: relative;
}
@media (max-width: 374px) {
  .restaurant__cards__content {
    max-width: 286px;
  }
}
.restaurant__cards__content__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.restaurant__cards__content img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 374px) {
  .restaurant__cards__content img {
    max-width: 100%;
  }
}
.restaurant__cards__content__info {
  display: grid;
  grid-template-areas: "A A B" "C C B";
  padding: 16px;
}
.restaurant__cards__content__info__title {
  display: inline-block;
  grid-area: A;
}
.restaurant__cards__content__info__subtitle {
  grid-area: C;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
  color: #000;
}
.restaurant__cards__content__info__checkbox {
  display: none;
}
.restaurant__cards__content__info__checkbox:checked + label svg path {
  fill: url("#gradient-horizontal");
  stroke: none;
}
.restaurant__cards__content__info label {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  overflow: visible;
  top: calc(50% - 11px);
  position: relative;
  grid-area: B;
  width: 22px;
  height: 22px;
  cursor: pointer;
  z-index: 3;
}
@media (min-width: 1024px) {
  .restaurant {
    display: grid;
    grid-template-areas: "A A" "B B" "B B";
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}

.footer {
  background-color: #353535;
  padding: 22px 25px;
}
.footer__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #FFF;
}
@media (min-width: 1441px) {
  .footer__title {
    grid-column: 2;
    grid-row: 1;
    justify-self: flex-end;
    align-self: flex-end;
  }
}
@media (min-width: 1441px) {
  .footer__menu {
    grid-column: 1;
    grid-row: 1;
    justify-self: flex-end;
  }
}
.footer__menu__content {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}
@media (min-width: 1441px) {
  .footer__menu__content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}
@media (min-width: 1441px) {
  .footer__menu__content li:nth-child(2) {
    margin-right: 30px;
  }
}
.footer__menu__content li a {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  margin-bottom: 7px;
}
@media (min-width: 1441px) {
  .footer__menu__content li a {
    margin-right: 7px;
    margin-bottom: 0;
  }
}
.footer__menu__content--gras {
  font-weight: 500;
}
.footer__menu__content--gras span {
  margin-right: 11px;
}
@media (min-width: 1441px) {
  .footer {
    display: grid;
    grid-template-columns: 90% 1fr;
    grid-template-rows: auto;
    -moz-column-gap: 20px;
         column-gap: 20px;
    padding: 55px 25px 30px 0;
  }
}

.header__restaurant {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__restaurant__logo {
  display: grid;
  justify-content: center;
  position: absolute;
  z-index: 2;
  left: calc(50% - 81px);
}
.header__restaurant a {
  display: flex;
  top: calc(50% - 11px);
  position: relative;
  width: 22px;
  height: 22px;
  margin: 0 45px 0 17px;
  padding: 17px 0;
}

.restaurants {
  background-color: #FFF;
  margin-top: 56px;
}
.restaurants__hero img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
@media (min-width: 410px) {
  .restaurants__hero img {
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .restaurants__hero img {
    height: 383px;
  }
}
.restaurants__menu {
  display: grid;
  background-color: #F6F6F6;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  margin-top: -32px;
  z-index: 3;
  position: relative;
}
.restaurants__menu__headline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 17px 0 17px;
}
@media (min-width: 1024px) {
  .restaurants__menu__headline {
    justify-content: center;
  }
}
.restaurants__menu__headline__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  font-weight: 400;
  margin-right: 15px;
}
.restaurants__menu__headline__checkbox {
  display: none;
}
.restaurants__menu__headline__checkbox:checked + label svg path {
  fill: url(".gradient-horizontal");
  stroke: none;
}
.restaurants__menu__headline label {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  overflow: visible;
  position: relative;
  grid-area: B;
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.restaurants__menu__entree, .restaurants__menu__main, .restaurants__menu__dessert {
  margin-top: 30px;
  margin-left: 13px;
  margin-right: 13px;
}
@media (min-width: 1024px) {
  .restaurants__menu__entree, .restaurants__menu__main, .restaurants__menu__dessert {
    width: 634px;
    margin: 0 auto;
  }
}
.restaurants__menu__entree__title, .restaurants__menu__main__title, .restaurants__menu__dessert__title {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 22px;
}
.restaurants__menu__entree__title:after, .restaurants__menu__main__title:after, .restaurants__menu__dessert__title:after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.restaurants__menu__entree__checkbox, .restaurants__menu__main__checkbox, .restaurants__menu__dessert__checkbox {
  display: none;
}
.restaurants__menu__entree__checkbox:checked + label span:last-child, .restaurants__menu__main__checkbox:checked + label span:last-child, .restaurants__menu__dessert__checkbox:checked + label span:last-child {
  margin-right: 0px;
}
.restaurants__menu__entree__card, .restaurants__menu__main__card, .restaurants__menu__dessert__card {
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  margin-bottom: 10px;
  row-gap: 5px;
  -moz-column-gap: 5px;
       column-gap: 5px;
  max-height: 72px;
  max-width: 294px;
  overflow: hidden;
  cursor: pointer;
}
@media (min-width: 375px) {
  .restaurants__menu__entree__card, .restaurants__menu__main__card, .restaurants__menu__dessert__card {
    max-width: 349px;
  }
}
@media (min-width: 425px) {
  .restaurants__menu__entree__card, .restaurants__menu__main__card, .restaurants__menu__dessert__card {
    max-width: 100%;
  }
}
.restaurants__menu__entree__card__info, .restaurants__menu__main__card__info, .restaurants__menu__dessert__card__info {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px 0px 16px 15px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.restaurants__menu__entree__card__info__title, .restaurants__menu__main__card__info__title, .restaurants__menu__dessert__card__info__title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restaurants__menu__entree__card__info__subtitle, .restaurants__menu__main__card__info__subtitle, .restaurants__menu__dessert__card__info__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #000;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restaurants__menu__entree__card__price, .restaurants__menu__main__card__price, .restaurants__menu__dessert__card__price {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  justify-self: flex-end;
  padding: 16px 15px 16px 0px;
}
.restaurants__menu__entree__card__check, .restaurants__menu__main__card__check, .restaurants__menu__dessert__card__check {
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
  height: 72px;
  width: 49px;
  margin-right: -49px;
}
.restaurants__menu__entree__card__check i, .restaurants__menu__main__card__check i, .restaurants__menu__dessert__card__check i {
  color: #FFF;
  font-size: 20px;
}
.restaurants__menu__link {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 40px auto;
  padding: 16px 48px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 25px;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  transition: 0.2s ease-in-out;
  opacity: 100%;
}
.restaurants__menu__link:hover {
  opacity: 85%;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2509803922);
}/*# sourceMappingURL=main.css.map */