@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap);
body {
  margin: 0;
  background-color: #F6F6F6;
}

h1, h2, h3, p {
  margin: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

p, a {
  font-family: "Roboto", sans-serif;
}

@media (min-width: 1440px) {
  section {
    max-width: 1080px;
    margin: auto;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fillHeart {
  0% {
    fill-opacity: 0;
    fill: transparent;
    stroke-opacity: 1;
  }
  100% {
    fill-opacity: 1;
    fill: url("#gradient-horizontal");
    stroke-opacity: 0;
  }
}
.fadeInLeftEntree {
  animation: fadeInLeft 1s linear;
}

.fadeInLeftMain {
  animation: fadeInLeft 1.5s linear;
}

.fadeInLeftDessert {
  animation: fadeInLeft 2s linear;
}

.header__restaurant {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__restaurant__logo {
  display: grid;
  justify-content: center;
  position: absolute;
  z-index: 2;
  left: calc(50% - 81px);
}
.header__restaurant a {
  display: flex;
  top: calc(50% - 11px);
  position: relative;
  width: 22px;
  height: 22px;
  margin: 0 45px 0 17px;
  padding: 17px 0;
}

.restaurants {
  background-color: #FFF;
  margin-top: 56px;
}
.restaurants__hero img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
@media (min-width: 410px) {
  .restaurants__hero img {
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .restaurants__hero img {
    height: 383px;
  }
}
.restaurants__menu {
  display: grid;
  background-color: #F6F6F6;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  margin-top: -32px;
  z-index: 3;
  position: relative;
}
.restaurants__menu__headline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 17px 0 17px;
}
@media (min-width: 1024px) {
  .restaurants__menu__headline {
    justify-content: center;
  }
}
.restaurants__menu__headline__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  font-weight: 400;
  margin-right: 15px;
}
.restaurants__menu__headline__checkbox {
  display: none;
}
.restaurants__menu__headline__checkbox:checked + label svg path {
  fill-opacity: 1;
  stroke-opacity: 0;
}
.restaurants__menu__headline label {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  overflow: visible;
  position: relative;
  grid-area: B;
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.restaurants__menu__headline label svg path {
  transition: all 2s;
}
.restaurants__menu__entree, .restaurants__menu__main, .restaurants__menu__dessert {
  margin-top: 30px;
  margin-left: 13px;
  margin-right: 13px;
}
@media (min-width: 1024px) {
  .restaurants__menu__entree, .restaurants__menu__main, .restaurants__menu__dessert {
    width: 634px;
    margin: 0 auto;
  }
}
.restaurants__menu__entree__title, .restaurants__menu__main__title, .restaurants__menu__dessert__title {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 22px;
}
.restaurants__menu__entree__title:after, .restaurants__menu__main__title:after, .restaurants__menu__dessert__title:after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.restaurants__menu__entree__checkbox, .restaurants__menu__main__checkbox, .restaurants__menu__dessert__checkbox {
  display: none;
}
.restaurants__menu__entree__checkbox:checked + label span:last-child, .restaurants__menu__main__checkbox:checked + label span:last-child, .restaurants__menu__dessert__checkbox:checked + label span:last-child {
  margin-right: 0px;
}
.restaurants__menu__entree__card, .restaurants__menu__main__card, .restaurants__menu__dessert__card {
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  margin-bottom: 10px;
  row-gap: 5px;
  -moz-column-gap: 5px;
       column-gap: 5px;
  max-height: 72px;
  max-width: 294px;
  overflow: hidden;
  cursor: pointer;
}
@media (min-width: 375px) {
  .restaurants__menu__entree__card, .restaurants__menu__main__card, .restaurants__menu__dessert__card {
    max-width: 349px;
  }
}
@media (min-width: 425px) {
  .restaurants__menu__entree__card, .restaurants__menu__main__card, .restaurants__menu__dessert__card {
    max-width: 100%;
  }
}
.restaurants__menu__entree__card__info, .restaurants__menu__main__card__info, .restaurants__menu__dessert__card__info {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px 0px 16px 15px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.restaurants__menu__entree__card__info__title, .restaurants__menu__main__card__info__title, .restaurants__menu__dessert__card__info__title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restaurants__menu__entree__card__info__subtitle, .restaurants__menu__main__card__info__subtitle, .restaurants__menu__dessert__card__info__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #000;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restaurants__menu__entree__card__price, .restaurants__menu__main__card__price, .restaurants__menu__dessert__card__price {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  justify-self: flex-end;
  padding: 16px 15px 16px 0px;
}
.restaurants__menu__entree__card__check, .restaurants__menu__main__card__check, .restaurants__menu__dessert__card__check {
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
  height: 72px;
  width: 49px;
  margin-right: -49px;
}
.restaurants__menu__entree__card__check i, .restaurants__menu__main__card__check i, .restaurants__menu__dessert__card__check i {
  color: #FFF;
  font-size: 20px;
}
.restaurants__menu__link {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 40px auto;
  padding: 16px 48px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 25px;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  transition: 0.2s ease-in-out;
  opacity: 100%;
}
.restaurants__menu__link:hover {
  opacity: 85%;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2509803922);
}/*# sourceMappingURL=restaurants.css.map */