@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap);

$color-pink: #fcc0ce;
$color-greenlight: #99e2d0;
$color-greendark: #008766;
$color-bluelight: #89C8FA;
$color-bluedark: #003A68;
$color-purple: #9356DC;

$font-para: 'Roboto', sans-serif;
$font-title: 'Shrikhand', sans-serif;